html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #9be7fe;
  text-align: center;
  font-family: helvetica, sans-serif;
}
form {
  background-color: #8acce1;
  width: 300px;
  margin: auto;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 1px #71a5b6;
}
input[type=text] {
  font-size: 1.5em;
  margin: 2%;
  padding: 1%;
  border-radius: 6px;
}
input[type=password] {
  font-size: 1.5em;
  margin: 2%;
  padding: 1%;
  border-radius: 6px;
}
input[type=submit] {
  border: none;
  background-color: #496a74;
  color: white;
  font-size: 1.25em;
  margin: 2%;
  border-radius: 6px;
}
input:focus {
  outline: none;
  border: 2px solid #496a74;
}
h1 {
  font-size: 3em;
  color: white;
}
h2 {
  color: #253338;
}
h3 {
  color: white;
  margin-left: 16px;
  margin-right: 16px;
}
button {
  border: none;
  background-color: #71a5b6;
  font-size: 1.25em;
  color: white;
  border-radius: 6px;
  height: 25px;
  margin: 16px;
}
.main {
  height: 30%;
}
.boardsView {
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
  background-color: #496a74;
}
.boardsContainer {
  width: 90%;
  height: 60%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border-radius: 6px;
  overflow: scroll;
  margin: 5% auto;
}
.listOfBoards {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.5%;
  border-radius: 6px;
}
.boardButtonList {
  width: 200px;
  height: 100px;
  background-color: #253338;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 1px #ccc;
}
.boardButton {
  text-decoration: none;
}
h2.boardButton {
  color: white;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0;
  overflow: scroll;
}
h1.boardTitle {
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px #71a5b6;
}
h3.listTitle {
  font-size: 2em;
  display: inline-block;
  text-shadow: 2px 2px #71a5b6;
}
.addUser {
  display: inline-block;
}
.listsContainer {
  width: 90%;
  height: 62%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
}
.listDiv {
  background-color: #d4d4d4;
  border-radius: 6px;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 5px 1px #71a5b6;
}
.deleteList {
  display: inline;
  float: right;
  margin: 5px;
  background-color: #ff835a;
}
.tasksDiv {
  width: 95%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
  margin: auto;
  margin-top: 5px;
}
button.edit, button.move , button.deleteTask {
  margin: 1%;
  font-size: .75em;
  height: 15px;
}
button.move {
  background-color: #496a74;
}
button.deleteTask {
  background-color: #ff835a;
}
p.description {
  margin: 0;
  padding: 5px;
  font-size: 1.25em;
  color: #253338;
}
.newTaskForm {
  background-color: #d4d4d4;
  box-shadow: none;
}
.taskForm {
  background-color: white;
  box-shadow: none;
  display: block;
}
